:root {
    --bg: white;
    --fg: black;
    --accent: #6b705c;
    --sidebar-size: 15em;
}

body {
    margin: 0;
    font-family: sans-serif;
    color: var(--fg);
    background-color: var(--bg);
}

p {
    text-align: justify;
}

main {
    background-color: white;
    max-width: 40em;
    margin: 0 auto;
    padding: 2em;
    padding-left: var(--sidebar-size);
}

nav {
    height: 100%;
    width: var(--sidebar-size);
    position: fixed;
    top: 0;
    background-color: var(--accent);
    overflow-x: hidden;

    a {
        text-align: center;
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        color: white;
        display: block;
    }
}

label {
    max-height: 1000px;
    color: #FEFAE0;
}

h1 {
    padding: 1em;
}

h1, h2, h3 {
    color: var(--accent);
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: sans-serif;
    border: 2px solid #ccc;
}

th {
    background-color: #e2e2e2;
    color: #333;
    padding: 10px;
    border: 1px solid #bbb;
    text-align: center;
}

hr {
    border: none;
    border-bottom: 3px dotted var(--accent);
    margin: 2em
}

b {
    color: var(--accent);
}

#microslop, #logo {
    max-width: 80%;
    margin: 0;
    display: block;
    margin: auto auto;
    padding: 2em;
}

#logo {
    width: 5em !important;
}

.ODS {
    display: flex;

    img {
        flex: 1;
        width: 20%;
        height: auto;
        cursor: pointer;
    }

    div {
        flex: none;
        display: block;
    }
}

.ODS-desc {
    padding: 2em;
    display: none;
    text-align: center;

    &.ODS4 {
        background-color: #c71427;
        color: white;
    }

    &.ODS7 {
        background-color: #fdc400;
        color: black;
    }

    &.ODS9 {
        background-color: #ff690c;
        color: black;
    }

    &.ODS13 {
        background-color: #3d7f41;
        color: white;
    }
}

.section {
    display: none;
}

#part-1 {
    display: block;
}
